:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --brand-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --hero-button-accent: #188ce8;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --hero-button-shadow: rgba(0, 0, 0, 0.15);
  --button-strong-shadow: rgba(0, 0, 0, 0.1);
  --button-middle-shadow: rgba(0, 0, 0, 0.08);
  --button-light-shadow: rgba(0, 0, 0, 0.12);
  --secondary-font-size: 16px;
  --primary-line-height: 1.14;
  --secondary-line-height: 1.19;
  --secondary-letter-spacing: 0.06em;
}

body {
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-color);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.image {
  display: block;
}

.title {
  color: var(--secondary-color);
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: black;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-top-padding {
  padding-top: 0;
}
/* header*/

.page-header {
  border: 1px solid #ececec;
}

/*logo*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--secondary-line-height);
}
.header-logo {
  color: var(--black-color);
}

.logo .accent {
  color: var(--brand-color);
}

/* nav */

.main-nav {
  display: flex;
  align-items: center;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.nav-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: var(--primary-line-height);
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.current {
  color: var(--brand-color);
}
.nav-item:hover,
.nav-item:focus {
  color: var(--brand-color);
}
/*auth */

.auth-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.auth-link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: var(--primary-line-height);
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.auth-link:hover,
.auth-link:focus {
  color: var(--brand-color);
}
.auth-icon {
  fill: var(--primary-color);
}
.auth-link:hover .auth-icon,
.auth-link:focus .auth-icon {
  fill: var(--brand-color);
}

/* main */
/* hero */

.hero-section {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/group-of-people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--dark-background-color);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: var(--secondary-letter-spacing);
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  min-width: 216px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  letter-spacing: var(--secondary-letter-spacing);
  color: var(--white-color);
  background-color: var(--brand-color);
  border: none;
  box-shadow: 0px 4px 4px var(--hero-button-shadow);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-accent);
}

/* advantages */

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantage-item {
  width: calc((100% - 90px) / 4);
}

.thumb {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advantages-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: var(--primary-line-height);
  text-transform: uppercase;
}

.advantages-text {
  margin: 0;
  line-height: 1.71;
}

/* activities*/

.activity-list {
  display: flex;
  gap: 30px;
}

/* team */

.team-list {
  display: flex;
  gap: 30px;
}

.team-section {
  background-color: var(--light-background-color);
}
.team-card {
  width: calc((100% - 90px) / 4);
  text-align: center;
  background-color: var(--white-color);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-information {
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

.team-text {
  margin-top: 0;
  margin-bottom: 16px;
}

.social-network-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-network-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.social-network-icon {
  fill: #afb1b8;
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: var(--brand-color);
  border-radius: 50%;
}

.social-network-link:hover .social-network-icon,
.social-network-link:focus .social-network-icon {
  fill: var(--white-color);
}

/* clients */

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-icon {
  fill: #afb1b8;
}

.client-thumb:hover,
.client-thumb:focus {
  border-color: var(--brand-color);
}

.client-thumb:hover .client-icon,
.client-thumb:focus .client-icon {
  fill: var(--brand-color);
}

/*footer*/

.footer-main {
  display: flex;
  gap: 70px;
}

.address-section {
  min-width: 231px;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.address-link {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.contact {
  color: var(--transparent-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--brand-color);
}

/* social networks */

.social-networks-section {
  margin-top: 15px;
}

.social-networks-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: var(--primary-line-height);
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-network-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-network-icon {
  fill: var(--white-color);
}

.footer-network-link:hover,
.footer-network-link:focus {
  background-color: var(--brand-color);
}

/* portfolio */

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.list-button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.63;
  letter-spacing: inherit;
  color: var(--secondary-color);
  background-color: var(--light-background-color);
  border: none;
}

.list-button:hover,
.list-button:focus {
  padding-left: 25px;
  padding-right: 25px;
  color: var(--white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px var(--button-strong-shadow),
    0px 1px 2px var(--button-middle-shadow),
    0px 2px 2px var(--button-light-shadow);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-item {
  width: calc((100% - 60px) / 3);
}

.work-item:hover,
.work-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--secondary-letter-spacing);
}

.work-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  color: var(--primary-color);
}

.work-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
